#include "\masm32\INCLUDE\Resource.h"

1 24 "manifest.xml"

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Project.ico"

600	MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
        MENUITEM "&Open", 1001
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Save", 1002
        MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/
        MENUITEM "&Exit", 1010
    END
    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&About", 1900
    END
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS 0
FILETYPE 0

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Your Company Name\000"
      VALUE "FileDescription",  "Description Of Your Application\000"
      VALUE "FileVersion",      "1.0\000"
      VALUE "InternalName",     "Your APP Name\000"
      VALUE "OriginalFilename", "Original File Name\000"
      VALUE "LegalCopyright",   "\251 2011 Your Copyright\000"
      VALUE "ProductName",      "Your APP Name\000"
      VALUE "ProductVersion",   "1.0\000"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 0x4B0
  END
END
